

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/logo criadores.png"></ion-img>
  
    <ion-card vertical="center" horizontal="center" >
      <ion-avatar horizontal="center" size="100px">
        <img alt="Jhony" src="assets/perfil unisuam.jpg" />
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Jhonatan Barbosa</ion-card-title>
        <ion-card-subtitle>Matrícula: 23101067</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card vertical="center" horizontal="center">
      <ion-avatar horizontal="center" size="100px">
        <img alt="Agatha" src="assets/Perfil Agatha.jpg"/>
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Ágatha Leal</ion-card-title>
        <ion-card-subtitle>Matrícula: 23108734</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-button shape="round" routerLink="/home" routerDirection="forward">Voltar para home</ion-button>
    <div class="divcriadores">
      <img id="imgcriadores" src="../../assets/Logo Prisma.png" alt="logo">
    <p class="criadores">. Copyright © 2024-2025 / Prisma By Jhonatan Barbosa & Ágatha Leal .</p>
    </div>
</ion-content>
